package-lock=false
@bryntum:registry=https://npm.bryntum.com
//npm.bryntum.com/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJ0cmlhbCIsInNjaGVkdWxlcnBybyJdLCJuYW1lIjoic2h1cmVra3YuLmdtYWlsLmNvbSIsImdyb3VwcyI6WyJ0cmlhbCIsInNjaGVkdWxlcnBybyIsIiRhbGwiLCIkYXV0aGVudGljYXRlZCIsIkBhbGwiLCJAYXV0aGVudGljYXRlZCIsImFsbCIsInRyaWFsIiwic2NoZWR1bGVycHJvIl0sImlhdCI6MTYyNTY4MjkzOCwibmJmIjoxNjI1NjgyOTM4LCJleHAiOjI0ODk1OTY1Mzh9.UZWi9-oOTiBAGaAbAh0k_3u63hItZlTugrpJXPHhoUM
